body {
    background-image: url(../img/fondo-login.jpg); 
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: center; 
}
  .navbar-brand img{
    width: 100%;
    max-width: 100px;
  }
  .carousel-item img {
      width: 100%;
      height: auto;
      max-height: 600px; 
      object-fit: cover; 
      background-position: center;
      background-size: cover;
  }
  .carousel-item,
.carousel-item img {
    height: 300px; 
    object-fit: cover;
}
  .custom-navbar-collapse {
    display: flex;
    justify-content: center;
  }
  .navbar-nav a{
    color: #007BFF ;
  }
  .navbar{
    background-color: #F0FFFF;
  }
  .navbar-toggler span{
    color: black;
  }
  .card {
    background-color: rgba(255, 255, 255, 0.5);   
    border: 1px solid rgba(255, 255, 255, 0.75); 
}
.clock{
  color: #007BFF;
}
#time{
  font-size: 40px;
}
#date{
  margin: 0%;
}
h2 {
  color: #F0FFFF;
}
.card {
  border-radius: 20px;
  overflow: hidden;
  transition: transform .5s, box-shadow .5s; 
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 1); 
}

.btn:hover{
  transform: translateY(-10px);
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 1); 
  transition: transform .5s, box-shadow .5s; 
}
#logoCN:hover{
  border-radius: 50px;
  transform: translateY(-8px);
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 1); 
  transition: transform .5s, box-shadow .5s; 
}
.nav-link:hover{
  background-color: #007BFF;
  color: #F0FFFF;
  border-radius: 30px;
  transform: translate(-2px);
}
.bi:hover{
  border-radius: 10px;
  transform: translateY(-8px);
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.500); 
  transition: transform .5s, box-shadow .5s; 
}
.dropdown-item:hover{
  background-color: #007BFF;
  color: #F0FFFF;
  border-radius: 10px;
  transform: translate(-2px);
  width: max-content;
  margin-left: 5px;
}